*.swp
*.swo
/website-tools/nbproject/private/
/website-tools/nbproject/genfiles.properties
/website-tools/build/
/website-tools/dist/
/website-tools/downloads/
/website-tools/jbake-2.5.1/
/netbeans.apache.org/build
/netbeans.apache.org/buildSrc/build
**/.DS_Store
**/.classpath
**/.gradle
**/.nb-gradle
**/.project
**/.settings
**/.nb-gradle-properties
**/.vscode
/netbeans.apache.org/tooling/netbeanswebsiteasciidocplugin/target/
/netbeans.apache.org/tooling/netbeanswebsitescanner/target/
/netbeans.apache.org/tooling/target/
