DirectoryIndex index.html index.asciidoc

## set a policy to allow youtube.com video (avideo block macro reladed + wip)

Header edit Content-Security-Policy "frame-src" "frame-src https://www.youtube.com"
Header edit Content-Security-Policy "script-src"  "script-src https://www.youtube.com"



# download from incubation
Redirect 302 /download/9.0-beta/source https://archive.apache.org/dist/incubator/netbeans/incubating-netbeans-java/incubating-9.0-beta/incubating-netbeans-java-9.0-beta-source.zip
Redirect 302 /download/9.0-beta/binary https://archive.apache.org/dist/incubator/netbeans/incubating-netbeans-java/incubating-9.0-beta/incubating-netbeans-java-9.0-beta-bin.zip

# old NetBeans updates center
Redirect 301 /updates/8.2/uc/final/certified/catalog.xml.gz http://updates.netbeans.org/netbeans/updates/8.2/uc/final/certified/catalog.xml.gz

# Inbound links from the IDE - prefixed with /nb/
Redirect 302 /nb/updates/9.0/ http://netbeans-vm1.apache.org/uc/9.0/
Redirect 302 /nb/updates/10.0/ http://netbeans-vm1.apache.org/uc/10.0/
Redirect 302 /nb/updates/11.0/ http://netbeans-vm1.apache.org/uc/11.0/
Redirect 302 /nb/updates/11.1/ http://netbeans-vm1.apache.org/uc/11.1/
Redirect 302 /nb/plugins/11.1/ http://plugins.netbeans.org/nbpluginportal/updates/11.0/
Redirect 302 /nb/updates/11.2/ https://netbeans-vm1.apache.org/uc/11.2/
Redirect 302 /nb/plugins/11.2/ http://plugins.netbeans.org/nbpluginportal/updates/11.0/
Redirect 302 /nb/updates/11.3/ https://netbeans-vm1.apache.org/uc/11.3/
Redirect 302 /nb/plugins/11.3/ https://netbeans-vm1.apache.org/pluginportal2/updates/11.0/
Redirect 302 /nb/updates/12.0/ https://netbeans-vm1.apache.org/uc/12.0/
Redirect 302 /nb/plugins/12.0/ https://plugins.netbeans.apache.org/data/12.0/
Redirect 302 /nb/updates/12.1/ https://netbeans-vm1.apache.org/uc/12.1/
Redirect 302 /nb/plugins/12.1/ https://plugins.netbeans.apache.org/data/12.0/
Redirect 302 /nb/updates/12.2/ https://netbeans-vm1.apache.org/uc/12.2/
Redirect 302 /nb/plugins/12.2/ https://plugins.netbeans.apache.org/data/12.0/
Redirect 302 /nb/updates/12.3/ https://netbeans-vm1.apache.org/uc/12.3/
Redirect 302 /nb/plugins/12.3/ https://plugins.netbeans.apache.org/data/12.0/
Redirect 302 /nb/updates/12.4/ https://netbeans-vm1.apache.org/uc/12.4/
Redirect 302 /nb/plugins/12.4/ https://plugins.netbeans.apache.org/data/12.0/
Redirect 302 /nb/updates/12.5/ https://netbeans-vm1.apache.org/uc/12.5/
Redirect 302 /nb/plugins/12.5/ https://plugins.netbeans.apache.org/data/12.0/
Redirect 302 /nb/updates/12.6/ https://netbeans-vm1.apache.org/uc/12.6/
Redirect 302 /nb/plugins/12.6/ https://plugins.netbeans.apache.org/data/12.0/
Redirect 302 /nb/updates/13/ https://netbeans-vm1.apache.org/uc/13/
Redirect 302 /nb/plugins/13/ https://plugins.netbeans.apache.org/data/13/
Redirect 302 /nb/updates/14/ https://netbeans-vm1.apache.org/uc/14/
Redirect 302 /nb/plugins/14/ https://plugins.netbeans.apache.org/data/13/
Redirect 302 /nb/updates/15/ https://netbeans-vm1.apache.org/uc/15/
Redirect 302 /nb/plugins/15/ https://plugins.netbeans.apache.org/data/15/
Redirect 302 /nb/updates/16/ https://netbeans-vm1.apache.org/uc/16/
Redirect 302 /nb/plugins/16/ https://plugins.netbeans.apache.org/data/16/
Redirect 302 /nb/updates/17/ https://netbeans-vm1.apache.org/uc/17/
Redirect 302 /nb/plugins/17/ https://plugins.netbeans.apache.org/data/17/
Redirect 302 /nb/updates/18/ https://netbeans-vm1.apache.org/uc/18/
Redirect 302 /nb/plugins/18/ https://plugins.netbeans.apache.org/data/18/
Redirect 302 /nb/updates/19/ https://netbeans-vm1.apache.org/uc/19/
Redirect 302 /nb/plugins/19/ https://plugins.netbeans.apache.org/data/19/
Redirect 302 /nb/updates/20/ https://netbeans-vm1.apache.org/uc/20/
Redirect 302 /nb/plugins/20/ https://plugins.netbeans.apache.org/data/20/
Redirect 302 /nb/updates/21/updates.xml.gz /updates/previous.xml
Redirect 302 /nb/plugins/21/ https://plugins.netbeans.apache.org/data/21/
Redirect 302 /nb/updates/22/updates.xml.gz /updates/previous.xml
Redirect 302 /nb/plugins/22/ https://plugins.netbeans.apache.org/data/22/
Redirect 302 /nb/updates/23/updates.xml.gz /updates/previous.xml
Redirect 302 /nb/plugins/23/ https://plugins.netbeans.apache.org/data/23/
Redirect 302 /nb/updates/24/updates.xml.gz /updates/previous.xml
Redirect 302 /nb/plugins/24/ https://plugins.netbeans.apache.org/data/24/
Redirect 302 /nb/updates/25/updates.xml.gz /updates/previous.xml
Redirect 302 /nb/plugins/25/ https://plugins.netbeans.apache.org/data/25/
Redirect 302 /nb/updates/26/updates.xml /updates/current.xml
Redirect 302 /nb/plugins/26/ https://plugins.netbeans.apache.org/data/26/
# dev builds including temporary gz redirect
Redirect 302 /nb/updates/dev/updates.xml /updates/current.xml
Redirect 302 /nb/updates/dev/updates.xml.gz /updates/current.xml
Redirect 302 /nb/plugins/dev/ https://plugins.netbeans.apache.org/data/26/
# linked from ide.branding 
Redirect 302 /nb/issues.html https://netbeans.apache.org/front/main/participate/report-issue/
Redirect 302 /nb/issues_redirect.html https://netbeans.apache.org/front/main/participate/report-issue/
Redirect 302 /nb/report-issue https://netbeans.apache.org/front/main/participate/report-issue/

# Inbound links from the build - prefixed with /nbbuild/
Redirect 302 /nbbuild/netbeansrelease.json https://raw.githubusercontent.com/apache/netbeans-jenkins-lib/HEAD/meta/netbeansrelease.json

#cgi mirror script not needed
#Redirect 301 /download/maven/index.html /download/maven/index.cgi

# Redirect /kb/trails to /kb/docs 
Redirect 301 /kb/trails /kb/docs

# Some other redirections
Redirect 301 /features/ide/database.html /kb/docs/ide/#_databases
Redirect 301 /features/ide/versioning.html /kb/docs/ide/#_source_code_management
Redirect 301 /features/ide/collaboration.html /kb/docs/ide/#_source_code_management
Redirect 301 /features/java-on-server/web-services.html /kb/docs/websvc/intro-ws.html
Redirect 301 /features/java/debugger.html /kb/docs/java/profiler-intro.html
Redirect 301 /features/java-on-client/swing.html /kb/docs/matisse.html
Redirect 301 /features/java/testing.html /kb/docs/java/testng-screencast.html
RedirectMatch 301 ^/features/php.*$ /kb/docs/php/
RedirectMatch 301 ^/features/cpp.*$ /kb/docs/cnd/
Redirect 301 /java-on-client/java-me.html /kb/docs/mobility.html
Redirect 301 /community/releases/82/ /download/archive/index.html
RedirectMatch 301 ^/community/releases/.*$ /download/archive/index.html
RedirectMatch 301 ^/.?downloads/.*$ /download/index.html

# Redirect plugin page to plugin portal
Redirect 302 /plugins/index.html https://plugins.netbeans.apache.org/

# former path to antora path after letting download to 
Redirect 301 /index.html /front/main/index.html
Redirect 301 /about/ /front/main/about/
## redirect blog post 
RedirectMatch 301 "^/blogs/geertjan/(.*).html$" "/front/main/blogs/geertjan/$1/"
RedirectMatch 301 "^/blogs/timboudreau/(.*).html$" "/front/main/blogs/timboudreau/$1/"

# should also redirect atom
Redirect 301 /blogs /front/main/blogs
Redirect 301 /jackpot/ /front/main/jackpot/
Redirect 301 /community/ /front/main/community/
Redirect 301 /help/ /front/main/help/
Redirect 301 /projects/ /front/main/projects/
# fixed the report issue .html to keep it working for former readme
Redirect 301 /participate/report-issue.html /front/main/participate/report-issue/
Redirect 301 /participate/qualityevangelism.html /front/main/participate/qualityevangelism/
Redirect 301 /participate/ /front/main/participate/
Redirect 301 /kb/ /tutorial/main/kb/

## rewrite tutorials to new scheme apidoc need the following to work
# https://netbeans.apache.org/tutorials/nbm-code-completion.html
# https://netbeans.apache.org/tutorials/nbm-hyperlink.html
# https://netbeans.apache.org/tutorials/nbm-nodesapi.html
# https://netbeans.apache.org/tutorials/nbm-options.html
# https://netbeans.apache.org/tutorials/nbm-wizard.html
RedirectMatch 301 "^/tutorials/(.*).html$" "/tutorial/main/tutorials/$1/"

#trying to prevent inifinite redirect
RedirectMatch 301 "^/wiki(?!/main)(.*)$" "/wiki/main/wiki$1"
Redirect 301 /download /front/main/download



# favicon for apidoc
# Redirect 301 ^/favicon-32x32.png https://netbeans.apache.org/_/images/fav/favicon-32x32.png
# Redirect 301 ^/favicon-16x16.png https://netbeans.apache.org/_/images/fav/favicon-16x16.png

RewriteRule ^favicon-16x16\.png$  https://netbeans.apache.org/_/images/fav/favicon-16x16.png [R,L]
RewriteRule ^favicon-32x32\.png$  https://netbeans.apache.org/_/images/fav/favicon-32x32.png [R,L]

# A simple error page to antora folder
ErrorDocument 404 /front/main/404.html

# Enable rewrite engine to redirect 404 pages to old netbeans.org (137.254.56.26)
# RewriteEngine On
# If the requested stuff is not a file ...
# RewriteCond "%{REQUEST_FILENAME}" "!-f"
# ... nor a directory ...
# RewriteCond "%{REQUEST_FILENAME}" "!-d"
# ... then redirect (302) to the legacy.netbeans.org server with Oracle era content
# RewriteRule (.*) "https://legacy.netbeans.org/$1" [L,R=302]
