/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

.sidebarblock.cards {
    text-align: center;
}

.paragraph.card {
    text-align: left;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
    border-radius: 4px;
    display: inline-block;
    vertical-align: top;
    max-width: 16em;
    min-height: 10em;
    background-color: $nb-blue;
    color: #fff;
    margin: 0.5em;
    padding: 1em;

    a {
            color: #fff;
            text-decoration: underline;
            font-weight: bold;
    }

    .title {
        font-size: 130%;
        font-weight: bold;
        margin-bottom: 0.5em;
    }
}

.paragraph.card.blue {
        background-color: $nb-blue;
}

.paragraph.card.green {
        background-color: $nb-green;
}

.paragraph.card.magenta {
        background-color: $nb-magenta;
}

