/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
footer {
  min-height: 256px;
  background-color: #333;
  color: #ddd;
  padding: 64px 0;
  margin-top: 64px;

  h1 {
    font-size: 120%;
    font-weight: bold;
    text-transform: uppercase;
    color: #ddd;
  }

  ul {
    list-style-type: none;
    margin: 0;

    li {
      margin-bottom: 8px;
    }
  }

  a {
    color: #ddd;

    &:hover {
      color: #fff;
    }
  }

}

.footer-disclaimer {
  background-color: #000;
}

.footer-disclaimer-content {
  margin: 0 auto;
  padding: 64px 0;
  display: block;
  max-width: 75%;
  font-size: $font-size-small;

  p {
    margin: 8px 0 0 0;
    text-align: center;
    color: #ccc;

    a {
      color: #fff;
    }
  }

  pre {
    color: #fff;
    font-size: $font-size-small;
  }

  img {
    width: 200px;
    max-width: 100%;
  }
}
