/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*
    Some Foundation 6 customizations.
    This file needs to be migrated into base, common and components.
*/

html {
  font-family: $font-family;
}

body {
  font-family: $font-family;
  background-color: $nb-body-background;
}

.drilldown a {
  background-color: $nb-topbar-background;
}

/* https://foundation.zurb.com/sites/docs/responsive-navigation.html#preventing-fouc */
.no-js {
  @include breakpoint(small only) {
    .top-bar {
      display: none;
    }
  }

  @include breakpoint(medium) {
    .title-bar {
      display: none;
    }
  }

  .orbit-container {
    height: auto;
  }
  .orbit-slide {
    display: none;
  }
  .orbit-slide.is-active {
    display: block;
  }
}

.top-bar {
  background-color: $nb-topbar-background;
  box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 1px 3px rgba(12,13,14,0.1),0 4px 20px rgba(12,13,14,0.035),0 1px 1px rgba(12,13,14,0.025);

  a.title {
    color: #333;
    font-weight: bold;
    font-size: 110%;
  }


  ul {
    background-color: $nb-topbar-background;
  }

  a {
    color: #777;
    &:hover {
      color: #777;
    }
  }
}

a, a:hover {
  color: $nb-link-color;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
  color: $nb-blue;
}

code {
  background-color: transparent;
  border: 0;
}

pre {
  background-color: $nb-pre-background;
  border: 1px solid #CCC;
  white-space: pre-wrap;
  padding: 8px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  margin: 16px 0;
}

.hljs {
  background-color: $nb-pre-background;
}

.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
  border-top-color: $nb-link-color;
}

.top-spacer {
  margin-top: 64px;
}

/*@media screen and (min-width: 40em) {*/
@include breakpoint(medium) {
  .top-spacer {
    margin-top: 32px;
  }
}


/* <improvements-over-foundation-vertical-spacing> */
p {
  margin-bottom: 0.5rem;
}

li p , .ulist ul li p, .arabic li p, dd p {
  margin-bottom: 0.25em;
}

dl dt {
  font-size: 120%;
  margin-bottom: 0;
}

.nb-orbit {
  background: #000;
  .orbit-container {
    .orbit-slide {
      color: #fff;
    }
  }
}

.ulist {
  .menu {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-direction: row;
      flex-direction: row;
    }
  }
}

section.hero {
  color: #fff;
  position: relative;
  padding: 12px 0 0 0;
  .grid-container {
    .cell {
      h1, p {
        color: #eee;
        a {
          color: #fff;
        }
      }
    }
  }
}

.hero.news, .orbit-wrapper {
  background: linear-gradient(rgba(27, 106, 198, 0.88), rgba(46, 144, 232, 0.84)), url("/images/hero-background.jpg") no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.hero.news {
  margin-bottom: 1.5em;
}

/*.netbeans-bg {
  background: url('/images/hero-background.jpg') no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.netbeans-bg-1 {
  background: url('/images/hero-background-2.jpg') no-repeat;
  background-size: cover;
  background-position: center bottom;
}*/



/*
    The toc for mobile is horizontal.
*/
.toc {
  max-width: 75%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0 auto;
  ul.sectlevel2, ul.sectlevel3, ul.sectlevel4 {
    /* We hide sectlevels 2 and up in mobile */
    display: none;
  }
  ul {
    margin: 0;
    padding: 8px;
    list-style-type: none;
    li {
      display: block;
      font-size: $font-size-small;
      color: $nb-color-mid-blue;
      a {
        color: $nb-link-color;
      }
    }
  }
}

/*
    The toc for medium and up is not
*/
@include breakpoint(medium) {
  .toc {
    border-top: 0px;
    border-bottom: 0px;
    border-left: 1px solid #ddd;
    max-width: 15em;
    margin: 0 0 2em 2em;
    float: right;

    ul.sectlevel2, ul.sectlevel3, ul.sectlevel4 {
      /* We show sectlevels 2 and up */
      display: block;
    }

    ul {
      margin-left: 8px;
      li {
        display: block;
        line-height: 1.68em;
        margin-bottom: 1em;
      }
    }
  }
}

.valign-top {
  vertical-align: top;
}

table {
  width: auto;
  margin: 1rem auto;
}

table tbody tr {
  border-bottom: 1px solid #f1f1f1;
}

table tbody tr:nth-child(2n) {
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
}

.main-content {
  padding: 0 16px;

  .aside {
    background-color: $nb-color-bg-blue;
    font-size: 90%;
    p, div {
      font-size: $font-size-small;
    }
  }
}


.thumbnail {
  border: 0;
  box-shadow: none;
}

// Borders around tutorial images
.tutorial {
        .imageblock {
                .content {
                        .image {
                                img {
                                        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                                        border: 1px solid #1b6ac6;
                                        padding: 8px;

                                        &:hover {
                                                border: 1px solid #2e90e8;
                                        }
                                        margin: 8px 0 16px 0;
                                }
                        }
                        img {
                                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                                border: 1px dotted #327cc5;
                                padding: 8px;
                                margin: 8px 0 16px 0;
                        }
                }
        }
}

// Align NOTE: tables to the left (i.e., no centering)
.admonitionblock {
        font-size: 90%;
        color: #333;
        table {
                margin: 1rem 0;
        }
}

// CSS for the 'reviewed' paragraph in tutorials
.reviewed {
        font-size: 80%;
        margin-bottom: 2rem;
        color: $nb-gray;
        i {
                color: $nb-green;
        }
}

kbd {
    margin: 0 0.25em;
    padding: 0px 8px;
    background-color: #f6f6f6;
    color: #000;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgb(0, 0, 0),0 1px 2px rgba(0,0,0,0.24);
    font-size: 95%;
}
