/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */


/*
    Document   : nblaf.css
    Created on : Oct 5, 2009, 10:22:52 AM
    Author     : Petr Chytil <petr.chytil@sun.com>
    Description: netbeans.org fixes
*/

/*
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


.f-page-auto-cell{
    padding: 0px;
}

.tableActionRowTop ul.actions li {
    margin-right: 10px;
    list-style-type: none;
}

#wrapper-kenai ul {
    padding-left: 0px;
}

ul.hList li {
    list-style-type: none;
}

ul li {
    margin-bottom:5px;
    margin-top:0;
}

#main .content {
    overflow:hidden;
    position:relative;
    width:769px;
}

#container {
/*width:880px;*/
}

#main {
    margin:0 0px;
    width:770px;
}

#main-content{
    padding: 1px 2px;
}

#main-content table tr th, #main table tr td, #wrapper-kenai table tr th {
    text-align: left;
}

#wrapper-kenai {
    width:1007px;
}

table tr th, table tr td {
    padding: 0px 0px;
}

.content .home .column {
    min-height:200px;
    padding-right:15px;
    width:315px;
}

.blockList ul li {
    margin-bottom:0px;
    margin-top:0px;
    line-height:140%;
}

.blockList .info {
    display:block;
    float:left;
    margin:0 20px 11px;
    width: 400px;
}

h2.pageTitle {
    color: #5A9BAD;
    font-style:normal;
}

h3.subSection {
    font-style:normal;
}

.wikiMainBody h1, h2, h3, h4, h5, h6{
    line-height: 100%;
}

.vAccTextField {
    height:2em;
}

/* IE fix for mailing lists - MIGRATION_TOOLS-60 */
.mailingLists {
    margin-top:30px;
    width: 729px;
    _margin-left: -56px;
}

table.dataDisplay {
    width: 729px;
}

.will-paginate table {
    width:100%;
}

.rcol ul {
    margin-bottom:15px;
    padding-left: 15px;
    list-style: inherit;
}

.rcol .bullet {
    display: none;
}

.f-page-cell {    
    padding-bottom:10px;
}

h1, h2, .lightblue, .separator {
    color: #5A9BAD;
}

a.tab.selected:link, .tabSet a.tab.selected:hover, .tabSet a.tab.selected:active, .tabSet a.tab.selected:visited {
    color: #5A9BAD;
}

/* fix for empty space in right navigation bar - MIGRATION_TOOLS-186 */
.vAccordion {
/*    padding:15px; */
/*    border-bottom:1px solid #ADADAD; */
}

/* Turn off bullets for the accordion headings and fix the spacing. */
.vAccordion ul {
    list-style-type: none;
    margin-bottom: 15px;
    padding-left: 0px;
}

/* The accordion headings that are also links should be bold like the non-link headings, but netbeans3.css makes */
/* them normal weight--override that. */
.vAccordion ul li strong A:link {
    font-weight: bold;
}

/* Turn on bullets for the accordion detail items and fix the spacing. */
.vAccordion-detail {
    font-weight: normal;
    list-style-type: disc;
    margin-left: 15px;
}

/* add some space around text to the "privacy" box in right navigation bar on
 * the signup page */
div#col-right-context div.title {
    font-weight:bold;
    padding:10px;
}

div#col-right-context div.bucket {
    padding-left:15px;
    padding-right:15px;
    border-bottom:1px solid #ADADAD; 
}
