/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 *   http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*
    Some Foundation 6 customizations.
    This file needs to be migrated into base, common and components.
*/

html {
  font-family: $font-family;
  font-size: $font-size;
}

body {
  font-family: $font-family;
  font-size: $font-size;
  background-color: $nb-body-background;
}

.drilldown a {
  background-color: $nb-topbar-background;
}

.top-bar {
  background-color: $nb-topbar-background;
  box-shadow: 0 1px 0 rgba(12,13,14,0.1),0 1px 3px rgba(12,13,14,0.1),0 4px 20px rgba(12,13,14,0.035),0 1px 1px rgba(12,13,14,0.025);

  a.title {
    color: #333;
    font-weight: bold;
    font-size: 110%;
  }


  ul {
    background-color: $nb-topbar-background;
  }

  a {
    color: #777;
    &:hover {
      color: #777;
    }
  }
}


a, a:hover {
  color: $nb-link-color;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: $font-family;
  color: $nb-color-mid-blue;
}

code {
  background-color: transparent;
  border: 0;
}

pre {
  background-color: $nb-pre-background;
  border: 1px solid $nb-pre-border-color;
  white-space: pre-wrap;
  padding: 8px;
}

.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a::after {
  border-top-color: $nb-link-color;
}

.top-spacer {
  margin-top: 64px;
}

/*@media screen and (min-width: 40em) {*/
@include breakpoint(medium) {
  .top-spacer {
    margin-top: 32px;
  }
}


/* <improvements-over-foundation-vertical-spacing> */
p {
  margin-bottom: 0.5rem;
}

li p , .ulist ul li p, .arabic li p, dd p {
  margin-bottom: 0.25em;
}

dl dt {
  font-size: 120%;
  margin-bottom: 0;
}

.nb-orbit {
  background: #000;
  .orbit-container {
    .orbit-slide {
      color: #fff;
    }
  }
}

.ulist {
  .menu {
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -ms-flex-direction: row;
      flex-direction: row;
    }
  }
}

section.hero {
  color: #fff;
  position: relative;
  padding: 75px 0;
  .grid-container {
    .cell {
      h1, p {
        color: #eee;
        a {
          color: #fff;
        }
      }
    }
  }
}

.hero.news, .orbit-wrapper {
  background: url('/images/hero-background.jpg') no-repeat;
  background-size: cover;
  background-position: center bottom;
}

/*.netbeans-bg {
  background: url('/images/hero-background.jpg') no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.netbeans-bg-1 {
  background: url('/images/hero-background-2.jpg') no-repeat;
  background-size: cover;
  background-position: center bottom;
}*/




/*
    The toc for mobile is horizontal.
*/
.toc {
  max-width: 75%;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  margin: 0 auto;
  ul {
    margin: 0;
    padding: 8px;
    list-style-type: none;
    li {
      display: inline-block;
      font-size: $font-size-small;
      color: $nb-color-mid-blue;
      a {
        color: $nb-color-darkest-blue;
      }
    }
  }
}

/*
    The toc for medium and up is not
*/
@include breakpoint(medium) {
  .toc {
    border-top: 0px;
    border-bottom: 0px;
    border-left: 1px solid #ddd;
    max-width: 15em;
    margin: 32px 0 2em 2em;
    ul {
      margin-left: 8px;
      li {
        display: block;
        line-height: 1.68em;
        margin-bottom: 1em;
      }
    }
  }
}

.valign-top {
  vertical-align: top;
}

table tbody tr {
  border-bottom: 1px solid #f1f1f1;
}

table tbody tr:nth-child(2n) {
  background-color: #fff;
  border-bottom: 1px solid #f1f1f1;
}

.main-content {
  padding: 0;

  .sect1 {
    padding: 16px 32px;
  }

  .aside {
    background-color: $nb-color-bg-blue;
    font-size: 90%;
    p, div {
      font-size: $font-size-small;
    }
  }
}


.thumbnail {
  border: 0;
  box-shadow: none;
}

/*

    main-content uses CSS Grid Layout (right now).
    The idea is to have a main area and a sidebar, both responsive. 
        The 'toc' generated with asciidoc (class 'toc') is positioned in the 'area-toc'.
        We may add additional asides in the template.

    Mobile:
    [area-news]
    [area-toc]
    [area-tools]
    [area-main]
    [area-aside]

    Desktop:

    [area-news] [area-news]
    [area-main] [area-toc]
    [area-main] [area-aside]
    [area-tools] [area-tools]

    "news" content is provided in templates/news.gsp
    "tools" content is provided in templates/tools.gsp
    "aside" content is currently empty

    Foundations medium media query is (https://foundation.zurb.com/sites/docs/media-queries.html)
    @media screen and (min-width: 40em) {}

*/

.main-content {
}

/*@media screen and (min-width: 40em) {*/
@include breakpoint(medium) {
    .main-content .toc {
        float: right;
    }
}


/*.main-content {
  display: grid;
  grid-gap: 8px;
  grid-template-areas: 
    "area-news"
    "area-toc"
    "area-tools"
    "area-main"
    ;

  .content {
    grid-area: area-main;
  }

  .aside {
    grid-area: area-news;
  }

  .tools {
    grid-area: area-tools;
  }

  .toc {
    grid-area: area-toc;
  }
}

.toc {
  grid-area: area-toc;
}

@media screen and (min-width: 40em) {

  .main-content {
    grid-template-columns: 3fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas:
      "area-news area-news"
      "area-main area-toc"
      "area-main area-aside"
      "area-tools area-tools"
      ;
  }
}*/

