$font-family: 'Lato', sans-serif;
$font-size: 12pt;
$font-size-small: 10pt;

$font-family-code: Consolas,Menlo,Monaco,'IBM Plex Mono', Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New,monospace,sans-serif;

pre, code {
    font-family: $font-family-code;
}

