DirectoryIndex index.html index.asciidoc
Redirect 302 /download/9.0-beta/source https://www.apache.org/dyn/closer.cgi/incubator/netbeans/incubating-netbeans-java/incubating-9.0-beta/incubating-netbeans-java-9.0-beta-source.zip
Redirect 302 /download/9.0-beta/binary https://www.apache.org/dyn/closer.cgi/incubator/netbeans/incubating-netbeans-java/incubating-9.0-beta/incubating-netbeans-java-9.0-beta-bin.zip
Redirect 301 /updates/8.2/uc/final/certified/catalog.xml.gz http://updates.netbeans.org/netbeans/updates/8.2/uc/final/certified/catalog.xml.gz
