DirectoryIndex index.html index.asciidoc
Redirect 302 /download/9.0-beta/source https://www.apache.org/dyn/closer.cgi/incubator/netbeans/incubating-netbeans-java/incubating-9.0-beta/incubating-netbeans-java-9.0-beta-source.zip
Redirect 302 /download/9.0-beta/binary https://www.apache.org/dyn/closer.cgi/incubator/netbeans/incubating-netbeans-java/incubating-9.0-beta/incubating-netbeans-java-9.0-beta-bin.zip
Redirect 301 /updates/8.2/uc/final/certified/catalog.xml.gz http://updates.netbeans.org/netbeans/updates/8.2/uc/final/certified/catalog.xml.gz
Redirect 302 /nb/updates/9.0/ http://netbeans-vm.apache.org/uc/9.0/
Redirect 302 /nb/updates/10.0/ http://netbeans-vm.apache.org/uc/10.0/
Redirect 302 /nb/updates/11.0/ http://netbeans-vm.apache.org/uc/11.0/
Redirect 302 /nb/updates/11.1/ http://netbeans-vm.apache.org/uc/11.1/
Redirect 302 /nb/plugins/11.1/ http://plugins.netbeans.org/nbpluginportal/updates/11.0/
Redirect 302 /nb/updates/11.2/ https://netbeans-vm.apache.org/uc/11.2/
Redirect 302 /nb/plugins/11.2/ http://plugins.netbeans.org/nbpluginportal/updates/11.0/
Redirect 302 /nb/updates/dev/ https://netbeans-vm.apache.org/uc/11.2/
Redirect 302 /nb/plugins/dev/ https://netbeans-vm.apache.org/pluginportal2/updates/11.0/
Redirect 302 /nb/issues_redirect.html https://issues.apache.org/jira/projects/NETBEANS/issues
Redirect 302 /nb/report-issue https://issues.apache.org/jira/projects/NETBEANS/issues
#cgi mirror script
Redirect 301 /download/maven/index.html /download/maven/index.cgi
# Enable rewrite engine to redirect 404 pages to old netbeans.org (137.254.56.26)
# RewriteEngine On
# If the requested stuff is not a file ...
# RewriteCond "%{REQUEST_FILENAME}" "!-f"
# ... nor a directory ...
# RewriteCond "%{REQUEST_FILENAME}" "!-d"
# ... then redirect (302) to the legacy.netbeans.org server with Oracle era content
# RewriteRule (.*) "https://legacy.netbeans.org/$1" [L,R=302]
